<!DOCTYPE html>
<html lang="es">
<head>
	<link rel="shortcut icon" href="../favicon.ico" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
	<script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"> </script>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap" rel="stylesheet"> 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kassen</title>
	<link rel="stylesheet" type="text/css" href="../public/styles/style.css">
</head>
<body>	
	<div class="container">
		<h1>Invernadero</h1>
		<form>
			<div>
				<label for="temperatura">Temperatura</label>
				<input type="text" id="temp" name="temp" value="" readonly>
			</div>	
			<div>
				<label for="humedad">Humedad</label>
				<input type="text" id="hum" name="hum" value="" readonly>
			</div>
			<div>
				<label for="luminosidad">Luminosidad</label>
				<input type="text" id="lum" name="lum" value="" readonly>
			</div>
			<div>
				<label for="hora">Hora</label>
				<input type="text" id="hora" name="hora" value="" readonly>
			
			</div>	
		</form>
	</div>
	<div class= "botones">
	<button id="botonHoy" class="botonEncendido" onclick= "cambiarPeriodo(1)" disabled>Hoy</button>
	<button id="botonSemana" class="botonApagado" onclick= "cambiarPeriodo(7)">Últimos 7 días</button>
	</div>
</div>
<div class = 'graphCont'>
	<canvas id="myChart"></canvas>
</div>	
<div id='serie' data-serie="<%= serie %>"</div>>	
</body>

<script src="../public/scripts/graph.js"></script>
<script src="../public/scripts/fetch.js"> </script>	

</html>